/*  */
/*Normalize and reset the webpage*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: .8rem;
    box-sizing: border-box;
}


/*body*/
    /*navbar*/

.navigation_bar{
  position: relative;
  height: 9vh;
}
/*youtube*/

.navigation_bar__logo_box {
  position: absolute;
  top: .8rem;
  left: 4rem;
}

.nav_logo_youtube {
    height: 3.3rem;
}

/*search_box*/

.navigation_bar__search_box {
  position: absolute;
  top: .5rem;
  left: 16rem;
}


.search_box {
    width: 33rem;
    height: 2rem;
}


.search__btn {
  margin-left: 0;
  top: .6rem;
  height: 2.1rem;
  width: 3rem;
  position: relative;
}

.search_icon {
    border-radius: .2rem;
    position: absolute;
    top: .5rem;
    left: .5rem;
    height: 8rem;
}

/*Right Side Icons*/

.navigation_bar__icons {
    position: absolute;
    top: 1rem;
    left: 58rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hamburger__icon, .upload__icon {
    height: 6vh;
}

.profile__icon {
  border-radius: 50%;
  height: 2.5rem;
}


/*MAIN VIDEO*/

.main_video {
  background-color: rgb(233, 233, 233);
  height: 110vh;
  position: relative;

}

.main_video__now_playing {
      width: 50rem;
}

.main_video__container{
    margin: 1.8rem;
    margin-right: 0 !important;
    margin-bottom: 0 !important;

}

.main_video__title {
  position: absolute;
  top: 26.2rem;

}


.main_video__title_container p{
  font-size: 1.4rem;
  font-weight: 250;
  font-family: 'Arial';
}

.main_video__main_attributes {
  position: absolute;
  top: 28.7rem;
  left: 38rem;
  font-size: 1.1rem;
  font-weight: 250;
  color: rgb(71, 71, 71);
  font-family: 'Arial';
}

.main_video__main_attributes__container {
      flex: auto;
      position: relative;
      top: 5rem;
      width: 500px;
      left: -35rem;
}

.views {
    position: relative;
    left: 10;
}

.main_video__main_attributes__container .i1 {
      padding: 0;
      border: 0;
}


.main_video__main_attributes__container .i2 {
      padding: 0;
      border: 0;
}

.main_video__main_attributes__container .i3 {
      padding: 0;
      border: 0;
}


.my-4 {
      width: 800px;
}

/* video information*/

.video_info {
  position: relative;
  top: 6.2rem;
  width: 25%;
  background-color:lightblue
}


/*  sideBar */



.side_nav {
    margin: .8rem;
    position: absolute;
    top: 0;
    left: 56rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(233, 233, 233);
}

.side_nav__video {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.side_nav__video img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.side_nav__video img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.side_nav__details {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-weight: 250;
    color: rgb(71, 71, 71);
    font-family: 'Arial';
}

.side_nav__video__details__views {
    margin-top: .7rem;
    color: rgb(97, 97, 97);
}

.avatar__details {
    position: relative;
}

.avatar {
    position: absolute;
    top: 3.5rem;
    left: 1rem;
}

.avatar_title {
    position: absolute;
    top: 3.5rem;
    left: 5rem;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-weight: 250;
    color: rgb(71, 71, 71);
    font-family: 'Arial';
}

.avatar__icon{
  border-radius: 50%;
  height: 4rem;
  top: 3rem;
}

.subscribe {
    position: absolute;
    top: 5rem;
    left: 7rem;
}

.btn-subscribe {
    background-color: red;
    color: white;
    padding: .5rem;
}
