/*  */


/*body*/
    /*navbar*/

.navigation_bar{
  position: relative;
  height: 9vh;
}
/*youtube*/

.navigation_bar__logo-box {
  position: absolute;
  top: 0;
  left: 4rem;
}

.nav_logo_youtube {
    height: 3.3rem;
}

/*search_box*/

.navigation_bar__search_box {
  position: absolute;
  top: .5rem;
  left: 16rem;
}

.navigation_bar__search_box {
  width: 33rem;
  height: 2rem;
}

.search--btn {
    margin-left: 0;
    top: -.34rem;
    height: 2.1rem;
    width: 3rem;
    position: relative;
}

.search-icon {
    border-radius: .2rem;
    position: absolute;
    top: .5rem;
    left: -.1rem;
    height: 8rem;
}

/*Right Side Icons*/

.navigation-bar__icon {
    position: absolute;
    top: .5rem;
    left: 58rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav_icon__upload {
    height: 2rem;
}

.nav_logo_youtube {
    height: 2rem;
}

.nav_logo__profile{
  border-radius: 50%;
  height: 2rem;
}

    /*main video embed*/




.video_main {
  background-color: rgb(233, 233, 233);
  height: 100vh;
  position: relative;
}



/*footer*/
