/*head{
)*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #808080;
}

.logo {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    length: 100px;
    cursor: pointer;
}

.logo2 {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 40px;
    length: 100px;
    cursor: pointer;
}

.logo3 {
    position: fixed;
    top: 0px;
    right: 40px;
    height: 40px;
    length: 100px;
    cursor: pointer;
}

.logo4 {
    position: fixed;
    top: 0px;
    right: 80px;
    height: 40px;
    length: 100px;
    cursor: pointer;
}

.logo5 {
    position: fixed;
    height: 60px;
    width: 50px;
    left: 20px;
    padding: 5px;
    border: 5px;
    cursor: pointer;
}

.logo6 {
    position: fixed;
    height: 40px;
    width: 100px;
    left: 90px;
    padding: 5px;
    border: 5px;
}

#odin {
    position: fixed;
    left: 90px;
}

.navigation_bar {
    position: fixed;
}

.navbar_list {
    list-style: none;
    display: flex;
    color: blanchedalmond;
    align-items: center;
    width: 100%;
    margin-top: auto;
    height: 20px;
    position: fixed;
}

.navbar_list li {
    display: flex;
    display: inline-block;
    padding: 0px 20px;
    justify-content: flex-end;
}

.navbar_list li input button {
    display: flex;
    color: purple;
}

.navbar_div {
    display: flex;
    margin: 0 auto;
}

body {
    position: relative;
    padding: 5px;
    border: 5px;
}

section {
    margin-right: auto;
    width: 50%;
    height: 30px;
    position: absolute;
    top: 30px;
    float: left;
}

article {
    width: 50%;
    position: absolute;
    height: 30px;
    top: 70px;
    float: left;
}

.video-comments {
    background-color: cornflowerblue;
}

aside {
    padding: 5px;
    border: 5px;
    position: absolute;
    right: 0px;
    top: 75px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    width: 30%;
}

.side-bar-content {
    padding: 5px;
    border: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-description {
    /*display: flex;*/
    background-color: orange;
    position: fixed;
    top: 480px;
}

.video-description-list-1 {
    padding: 5px;
    border: 5px;
    left: 15px;
}

.video-description-list-2 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 5px;
}

.video-description-list-3 {}

.video-description-list-3-p {
    float: right;
}

.main-video {
    position: fixed;
    top: 70px;
    height: 400px;
    width: 68%;
    padding-left: 1%;
}

li {
    display: flex;
    list-style: none;
    padding: 5px;
    border: 5px;
}

.side-bar-video {
    height: 120px;
    width: 200px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.bottom-page {
    background-color: darkslateblue;
    bottom: 100px;
}