/*head{
)*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.logo {
    
    top: 0px;
    left: 0px;
    height: 40px;
    length: 100px;
    cursor: pointer;
}

.logo2 {
    
    top: 0px;
    right: 0px;
    height: 40px;
    length: 100px;
    cursor: pointer;
}

.logo3 {
    
    top: 0px;
    right: 40px;
    height: 40px;
    length: 100px;
    cursor: pointer;
}

.logo4 {
    
    top: 0px;
    right: 80px;
    height: 40px;
    length: 100px;
    cursor: pointer;
}

.logo5 {
    
    height: 70px;
    width: 70px;
    left: 20px;
    padding: 5px;
    border: 5px;
    cursor: pointer;
}

.logo6 {
    
    height: 40px;
    width: 100px;
    left: 90px;
    padding: 5px;
    border: 5px;
}

#odin {
    
    top: 515px;
    left: 90px;
}

.subs {


}

.subs_div {

}

nav{
    display: flex;
    justify-content: space-between;
    
}

nav ul{
    display: flex;
    justify-content: center;
    
}

.container-center{
    width: 50%;

}

#search-bar {
    width: 80%;
}

#search-bar input{
    width: 93%;
}

#search-bar button{
    width: 7%;
}

.navigation_bar {
    position: fixed;
    width: 100%;
    top: 3px;
    height: 50px;
}

.navbar_list {
    list-style: none;
    display: flex;
    color: blanchedalmond;
    align-items: center;
    width: 100%;
    margin-top: auto;
    height: 20px;
   
}

.navbar_list li {
    display: flex;
    display: inline-block;
    padding: 0px 20px;
    justify-content: flex-end;
}

.navbar_list li input button {
    display: flex;
    color: purple;
}

.navbar_div {
    display: flex;
    margin: 0 auto;
}

body {
    
    padding: 5px;
    border: 5px;
}

section {
    margin-right: auto;
    width: 50%;
    height: 30px;
    
    top: 30px;
    float: left;
}


.video-comments {
    background-color: cornflowerblue;
}

aside {
    padding: 5px;
    border: 5px;
    /*position: 
    /*top: 75px;*/
    float: right;
}

.side-bar {
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    width: 30%;

}

.side-bar-content {
    padding: 5px;
    border: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-description {
    /*display: flex;*/
    background-color: orange;
    
    top: 480px;
    width: 65%;
    height: 30%;
}

.video-description-list-1 {
    padding: 5px;
    border: 5px;
    left: 15px;
}

.video-description-list-2 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 5px;
}

.video-description-list-3 {}

.video-description-list-3-p {

    right: 150px;
}

.main-video {
    
    
    height: 400px;
    width: 68%;
    padding-left: 1%;
}

li {
    display: flex;
    list-style: none;
    padding: 5px;
    border: 5px;
}

.side-bar-video {
    height: 120px;
    width: 200px;
}

article {
    width: 50%;

    height: 30px;
    top: 70px;
    float: left;
}


.main-video-icons-1{
display: flex;
flex-direction: row;

top: 640px;

padding: 5px;
border: 5px;

}

.main-video-icons-2{
    display: flex;
    flex-direction: row;
    
    top: 640px;
    left: 750px;
    padding: 5px;
    border: 5px;   
}

#icon1 #icon2 #icon3{
    
}


.footer {
    
    
    bottom: 10px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

